@use '../globals/colors' as c;
@use '../globals/fonts' as f;

.button-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: f.$fw-900;

}

.download-button {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    width: 12.0625rem;
    height: 3.5rem;
    gap: 0.25rem;
    border-radius: 1.8125rem;
    border: none;
    background-color: c.$cyan-600;
    color: c.$white;
    text-decoration: none;

    &__version {
        color: c.$cyan-300;
    }
}
.download-button:hover {
    background-color: c.$cyan-400;
}

.about-link {
    width: 10.0625rem;
    height: 3.5rem;
    border-radius: 1.8125rem;
    border: none;
    background-color: c.$purple-600;
    color: c.$white;
    text-decoration: none;
}

.about-link:hover {
    background-color: c.$purple-400;
}