// Primary colors
$cyan-600: hsl(192, 37%, 48%);
$cyan-400: hsl(192, 54%, 64%);
$cyan-300: hsl(192, 90%, 77%);
$purple-600: hsl(268, 34%, 53%);
$purple-400: hsl(268, 55%, 71%);
$purple-300: hsl(268, 100%, 86%);

// Neutral colors
$slate-900: hsl(240, 21%, 20%);
$slate-600: hsl(240, 10%, 57%);
$slate-300: hsl(240, 18%, 85%);
$white: hsl(0, 0%, 98%);