@use '../globals/colors' as c;
@use '../globals/fonts' as f;


.features-section {
    margin: 0rem 2rem 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.img-grid {
    width: 19.4375rem;
    margin: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-self: center;
}

.section2  {
    &__title {
        display: grid;
        gap: 1rem;
    }
    &__title2 {
        padding-bottom: 2rem;
}
}
