@use '../globals/colors' as c;

.page-container {
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__number {
        width: 3.5rem;
        height: 3.5rem;
        display: grid;  
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
}

.page2-wrapper {
    margin-top: -1.75rem;
    position: relative;
    z-index: 0;
    background-image: url(/assets/desktop/image-footer.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 23.375rem;
}

.page2-bg-img {
    background-position: left top;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page2-bg-color {
    background-color: c.$cyan-600;
    background-size: 100%;
    width: 100%;
    height: 100%;
    opacity: 0.87;
    z-index: 1;
    position: absolute;
}

.page2-content {
    margin: 0rem auto;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 0;
    display: grid;
    height: 20rem;
    width: 19.4rem;

    & p {
        padding-bottom: 1.5rem;
    }
}

.footer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
